body {
    margin: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to right, blue,rgb(38, 43, 114),rgb(25, 3, 66));
    color: white;
    
  }
  
  ol {
    counter-reset: n;
  }
  
  ol > li {
    list-style: none;
    counter-increment: n;
  }
  
  ol > li::before {
    content: "Task " counter(n) ":";
    font-weight: bold;
  }
  
  .btn {
      display: none;
  }

  .box {
      border: solid black 2px;
  }

  .card {
      color:black;
      align-items: center;
     
  }
 
  